.all-bg{
    background-color: rgba(173, 239, 217, 0.57);
}
.carousel-item{
    padding: 20px 150px;
}
.btn{
    background-image: linear-gradient(rgba(17, 232, 239, 0.822),rgba(120, 228, 218, 0.723));
    border: none;
    /* margin-top: 20px; */
    padding: 9px 25px;
    border-radius: 10px;
}
.row p{
    color: gray;
    font-size: 16px;    
}
.card{
    border: none;
    box-shadow: 5px 5px 10px lightgray;
    align-items: center;
}
.card img{
    width: 200px;
}
.item-btn{
    color: white;
    background-color: black;
    border: none;
    /* margin-top: 20px; */
    padding: 9px 25px;
    border-radius: 8px;
}
.fa-brands{
    color: grey;
}
.fa-solid{
    color: grey;
}
.row h6{
    padding-left: 15px;
}
.hh{
    margin-top: 20px;
}
.futter-bg{
    height: 300px;
    width: 100%;
    background-color: rgb(2, 1, 1);
}
p{
    color: grey;
    font-size: 14px;
}
.futter-bg h2,h6{
    color: white;
}
.futter-bg p{
    color: white;
}